<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TopCounty</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/abt.css?{{ cached_id }}">
</head>

<body>
    <!-- Navbar fixed and collapsible -->
    <nav class="navbar navbar-fixed-top" id="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar" id="toggle"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:5000/home">TopCounty..</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="about-us">
        <div class="container">
            <h2>About Us</h2>
            <p>Welcome to TopCounty, your number one source for all things related to county information. We're dedicated to providing you the very best of data, with an emphasis on accuracy, timeliness, and comprehensiveness.</p>
            <p>Founded in 2024 by Hiram Kabuagi, TopCounty has come a long way from its beginnings in Kenya. When Hiram first started out, his passion for county transparency drove them to start their own business.</p>
            <p>We hope you enjoy our information as much as we enjoy offering it to you. If you have any questions or comments, please don't hesitate to contact us.</p>
            <p>Sincerely,<br>Hiram Kabuagi</p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 footer-column">
                    <h4 class="footer-title">Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://127.0.0.1:5000/home" class="footer-link">Home</a></li>
                        <li><a href="#" class="footer-link">Contact</a></li>
                        <li><a href="#" class="footer-link">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 footer-column">
                    <h4 class="footer-title">Follow Us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="footer-link">Facebook</a></li>
                        <li><a href="#" class="footer-link">Twitter</a></li>
                        <li><a href="#" class="footer-link">Instagram</a></li>
                        <li><a href="#" class="footer-link">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text-muted">&copy; 2024 TopCounty. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
